.flex-container img {
  border-radius: 20px;
  height: 400px;
}

@media (max-width: 991px) {
  #info {
    padding-right: 0.75rem;
  }
}

@media (min-width: 992px) {
  #info {
    padding-right: 7rem;
  }
}