<div class="flex-container bg-dark main">
  <div class="container row d-flex align-items-center justify-content-between bg-warning content-container" style="width: 90vw; height: 70vh;">
      <div class="col-lg-4 d-flex flex-column align-items-center">
        <h1 class="text-center">Car</h1>
        <div class="flex-container">
          <img [src]="photoData.car_url" alt="Car" class="w-100">
        </div>
      </div>

      <div class="col-lg-4 d-flex flex-column align-items-center">
        <h1 class="text-center">Logo</h1>
        <div class="flex-container">
          <img [src]="photoData.logo_url" alt="Logo" class="w-100">
        </div>
      </div>

      <div class="col-lg-4 d-flex flex-column align-items-center">
        <h1 class="text-center">Founder</h1>
        <div class="flex-container">
          <img [src]="photoData.founder_url" alt="Founder" class="w-100">
        </div>
      </div>
  </div>
</div>
