<nav class="navbar navbar-expand-lg d-flex justify-content-between bg-light">
  <a id="logo" class="navbar-brand d-flex align-items-center ms-5" href="index.html">
    <img src="<%= require('../assets/images/ad.png') %>">
    <h1 class="ms-3">Ad's Board</h1>
  </a>

  <div class="me-5 d-inline-flex align-items-center pt-1 pb-1">
    <button class="btn bg-warning d-flex align-items-center h-50 ">
      <i class="fa fa-plus me-2" aria-hidden="true"></i>
      <div>New ad</div>
    </button>

    <a class="d-flex align-items-center ms-4" href="#">
      <img src="<%= require('../assets/images/av_64.png') %>">
      <div class="ms-2 text-primary">My profile</div>
    </a>
  </div>
</nav>