<div class="d-flex flex-column block pe-3">
  <h3 class="text-center">Досвід</h3>
  <ul *ngFor="let experience of getExperiences()">
    <li>
      <div class="d-flex justify-content-between">
        <div class="col-lg-3">
          <p>{{ experience.dateFrom | customDate }} - {{ experience.dateTo | customDate }} : </p>
        </div>
        <div class="col-lg-8">
          <p>{{experience.text}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="d-flex flex-column block pe-3">
  <h3 class="text-center">Сертифікати</h3>
  <ul *ngFor="let certificate of getCertificates()">
    <li>
      <div class="d-flex justify-content-between">
        <div class="col-lg-3">
          <p>{{ certificate.date | customDate }} : </p>
        </div>
        <div class="col-lg-8">
          <p>{{certificate.text}} | <a [href]="certificate.url">Badge link</a>
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>

