.album-cover {
  padding: 12px 6px;
}

.album-cover > div {
  border-radius: 20px;
  height: 300px;
  width: auto;
}

.album-cover > div > img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}