@import 'mixins';

#logo h1{
  font-size: 18pt;
  text-transform: uppercase;
}

#logo img{
  width: 55px;
  height: 55px;
}

header > nav > div > a {
  text-decoration: none;
}

#search {
  --padding-rem-small: 0.75rem;
  --padding-rem-big: 1.50rem;
}

#search .input-group{
  --search-border: solid 0.1px rgb(197, 197, 197);
}

#search .input-group span {
  width: 50px;
  background-color: rgb(235, 235, 235);
  border: var(--search-border);
}

#search .input-group input {
  border: var(--search-border);
}


@media (max-width: 991px) {
  #search > div:nth-child(1) {
    padding-left: var(--padding-rem-small);
  }

  #search > div:nth-child(2) {
    padding-left: var(--padding-rem-small);
    padding-right: var(--padding-rem-small);
  }

  #search > div:nth-child(3) {
    padding-right: var(--padding-rem-small);
  }
}
@media (min-width: 992px) {
  #search > div:nth-child(1) {
    padding-left: var(--padding-rem-big);
  }

  #search > div:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
  }

  #search > div:nth-child(3) {
    padding-right: var(--padding-rem-big);
  }
}

#categories a {
  @include flex-center;
  height: 100%;
  width: 100%;
}

#categories > .row > div {
  height: 60px;
}

#categories > .row > div > a > svg {
  height: 100%;
  width: 30%;
}

#categories > .row > div > a > div {
  font-size: 130%;
  width: 70%;
  text-align: left;
}

#footer_links > .row > div > div a {
  margin-bottom: 20px;
  text-decoration: none;
}

#footer_links > .row > div > div {
  @include flex-column;
}